.form-modal-header h3 {
  padding: 50px 0px 20px;
  font-size: 30px;
}
.form-modal-header p {
  padding-bottom: 20px;
}
.page-links {
  padding: 20px 0px 70px;
}
.auth-link-block .heading {
  color: #495057;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  border-bottom: 2px solid #f385ab;
}
.auth-link-block.single-block .heading {
  width: auto;
}

@media (max-width: 991px) and (min-width: 768px) {
  .auth-link-block .heading {
    font-size: 27px;
  }
  .auth-warp .auth-block .remeber-block-warp {
    flex-flow: column;
  }
  .auth-warp .auth-block .remeber-block {
   margin-bottom:10px;
  }
  .auth-block p {
    font-size:15px;
  }
  .auth-warp .auth-block .form-block, .auth-warp .auth-block .auth-image-block {
    flex: 1;
  } 
}
